 header {
   border-bottom: 3px solid #FF724F;
   margin-bottom: 5%;
 }

 h1 {
   color: #FF724F;
 }

 body {
   background-color: white;
   margin: 3% 7% 7% 7%;
   font-size: 110%;
 }
hr{
  margin: 25px 25px;
  background-color: #FF724F;
  height:2px;
  border:none;
}
 .quest {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
   background-color: #EAEAEA;
   padding: 25px;
   margin-bottom: 5%;
   max-width: 700px;
 }
.ans{
  padding:0 25px;
}
 .quest:hover {
   border: #FF724F solid 1px;
   background-color: white;
 }
 .quest:hover h3 {
    background-color: #FF724F; 
 }

 a:hover {
   color: red;
 }

 .resp p {
   display: inline-block;
   color:#FF724F;
   font-weight: 600;
 }

.questPrime{
  font-size: 100%;
  background-color:#FF724F;
  padding:20px;
  border:#FF724F solid 1px;
}

/* questão1 */
input:required {
  border-color: #800000; 
  border-width: 3px;
}
.blue-input:focus {
   background: yellow;
   color: blue;
}
a:active { 
   color: red;
 } 